<h1>Altura de Maré</h1>
<%- content_for(:head) do -%>
  <%= javascript_include_tag 'flot/jquery' %>
  <%= javascript_include_tag 'flot/jquery.flot' %>
<%- end -%>
<script type="text/javascript"> 
  var grafico = <%= @dados.to_json.html_safe %>
  var url_arquivos = "<%= url_for :action => 'ondulacao_flot_files', :controller => 'graficos'%>"
  $(function () {
      $('#chart').css({width: $(window).width()-50, height: '300px'})
      $.plot($('#chart'), [grafico])
  });
</script>
<div id="chart"></div>
